.imagenes {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.imagenes>img {
    width: 300px;
    height: auto;
    box-shadow: 0px 1px 10px rgb(0, 0, 0, .4);
    margin: 0px auto;
    margin-top: 30px;
}

@media only screen and (min-width:320px) and (max-width:768px) {
    .imagenes>img {
        width: 100%;
        margin: 0px;
        margin-top: 30px;
    }
    h1,#titulo {
        font-size: 24px;
    }
}
